@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Arquitecta";
    src: url("/public/assets/fonts/arquitecta/Arquitecta.otf");
}

* {
    font-family: "Arquitecta";
}